In [ ]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# You can write up to 20GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

In [1]:
import pandas as pd
import numpy as np

In [2]:
data=pd.read_csv("/kaggle/input/rental-product-recommendation-system/old_site_new_site_products.csv")
data

     old_site_id  new_site_id
0           3601    463480211
1           3282    463480213
2           3314    463480214
3           3384    463480224
4           3383    463480225
..           ...          ...
459         3637    495797436
460         3480    495797660
461         3388   1231113729
462         3658   1432513025
463         3813   1580085801

[464 rows x 2 columns]

In [3]:
mertika_hits_Data=pd.read_csv("/kaggle/input/rental-product-recommendation-system/metrika_hits.csv")
mertika_hits_Data

/tmp/ipykernel_55/3787011938.py:1: DtypeWarning: Columns (1,3,19,20,21) have mixed types. Specify dtype option on import or set low_memory=False.
  mertika_hits_Data=pd.read_csv("/kaggle/input/rental-product-recommendation-system/metrika_hits.csv")

,project_id,watch_id,date_time,client_id,region_country,region_city,url,page_type,slug,artificial,...,messenger,device_category,mobile_phone,mobile_phone_model,operating_system_root,operating_system,browser,browser_major_version,screen_width,screen_height
0,1,8194662451870622352,2021-11-24T00:06:51,0203466395347938108,Russia,Moscow,https://oldsite.info/igrovoy-derevyannyy-stoli...,PRODUCT,igrovoy-derevyannyy-stolik-elc-bolshoy,0,...,NaN,2,xiaomi,MI 11,android,android_11,chromemobile,96,412,915
1,1,7945031156395861140,2021-11-24T00:09:06,98977237931745921755,Russia,NaN,https://oldsite.info/?fbclid=PAAabmh91Sd00ZtFJ...,MAIN,NaN,0,...,NaN,2,oppo,CPH1803,android,android_oreo81,android_browser,8,360,760
2,1,6365098314568244974,2021-11-24T00:09:07,98977237931745921755,Russia,NaN,https://oldsite.info/?fbclid=PAAabmh91Sd00ZtFJ...,MAIN,NaN,1,...,NaN,2,oppo,CPH1803,android,android_oreo81,android_browser,8,360,760
3,1,5280229437160873424,2021-11-24T00:09:21,98977237931745921755,Russia,NaN,https://oldsite.info/?fbclid=PAAabmh91Sd00ZtFJ...,MAIN,NaN,1,...,NaN,2,oppo,CPH1803,android,android_oreo81,android_browser,8,360,760
4,1,133574988465249163,2021-11-24T00:09:52,1507358969798591332,Russia,Saint Petersburg,https://oldsite.info/,MAIN,NaN,1,...,NaN,1,NaN,NaN,gnu_linux,linux,chrome,95,1920,1080
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1757614,0,2825584559588331111,2025-10-14T23:53:35,9910101217269060972,Russia,Moscow,https://newsite.info/collection/kolyaski,CATEGORY,kolyaski,1,...,NaN,2,apple,iPhone,ios_double,ios18,safari_mobile,18,440,956
1757615,0,5093067904021115436,2025-10-14T23:53:35,9910101217269060972,Russia,Moscow,https://newsite.info/collection/kolyaski,CATEGORY,kolyaski,0,...,NaN,2,apple,iPhone,ios_double,ios18,safari_mobile,18,440,956
1757616,0,5531199914965553706,2025-10-14T23:53:35,9910101217269060972,Russia,Moscow,https://newsite.info/collection/kolyaski,CATEGORY,kolyaski,1,...,NaN,2,apple,iPhone,ios_double,ios18,safari_mobile,18,440,956
1757617,0,4996877742628913121,2025-10-14T23:53:36,9910101217269060972,Russia,Moscow,https://newsite.info/collection/kolyaski,CATEGORY,kolyaski,1,...,NaN,2,apple,iPhone,ios_double,ios18,safari_mobile,18,440,956
1757618,0,2743778207496987573,2025-10-14T23:53:50,9910101217269060972,Russia,Moscow,https://newsite.info/collection/kolyaski,CATEGORY,kolyaski,1,...,NaN,2,apple,iPhone,ios_double,ios18,safari_mobile,18,440,956